<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Where To Go | {{ page_title }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <nav class="header">
            <ul>
                <li><a href="/" class="logo"><img src="/static/where_to_go_logo.png" alt="Logo"> Where To Go</a></li>
                <li><a href="/">About</a></li>
                <li><a href="{% url 'places' %}">Places</a></li>
                <li><a class="btn" href="{% url 'new_place' %}">New Place</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2026 Where To Go. Created by AM4 student Viktor Kyliukh</p>
    </footer>
</body>
</html>